# Bytecode cache files
__pycache__/
*.py[cod]

# Virtual env
venv-spotify-tracks-history

# Files containing user credentials
*.json
secrets.json

# Environmental variables
.env

# Files for testing
*.xlsx
test.py
secrets.toml
